*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*------ header ------*/

.nav-h,#logo{
    display: inline-block;
    padding: 25px 20px;
    vertical-align: middle;
}
#button-init{
    display: inline-block;
    padding: 20px 20px;
    vertical-align: middle;
}
/* header left */

header{
    width: 100%;
    min-width: 1108px;
}
nav li{
    display: inline-block;
    padding: 0 10px;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-h nav{
    width: 100%;
    list-style-type: none;
}

header .cont-header:nth-of-type(1){
    float: left;
}

/* header right */

.nav-right,#button-init{
    float: right;
}
header .cont-header:nth-of-type(2){
    float: right;
}
#button-init button{
    border: none;
    background-color:rgb(21, 73, 214);
    padding: 7px 18px;
    color: white;
}

/*--------- Main conatain --------*/

/* Section Jumbotron  */

.but-j{
    padding-top: 30px;
}
.but-j li{
    padding: 13px 0;
}
.but-j li:nth-of-type(1){
    background-color:rgb(21, 73, 214);
    padding: 15px 30px;
}
.arrow-d{
    padding-top: 40px;
    font-size: 30px;
}
#jumbo-t li:nth-of-type(1) a{
    color: white;
}
#jumbotron{
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
    min-width: 1224px;
}
#jumbotron #jumbo-h{
    font-size: 50px;
    padding: 30px 80px 20px;
}
#jumbo-t{
    padding: 20px 0 40px 80px;
    display: inline-block;
    width: 32%;
    vertical-align: top;
}
#jumbo-img{
    display: inline-block;
    width: 60%;
    padding-top: 20px;
    margin: 50px 0 0 100px

}
#jumbo-img img{
    width: 75%;
    transform: scale( 1.3 , 1.3 );
}

/*---- section price ----*/

#main-price > h2{
    font-size: 40px;
    padding-bottom: 40px;
}
#main-price{
    padding: 200px 200px 0 ;
}
#main-price label{
    padding: 0 40px 0 0;
    font-weight: 600;
}
/* columns  */

.row-columns{
    width: 100%;
}
.column{
    width: calc(100% / 3 - 20px);
    border: 1px solid lightgray;
    display: inline-block;
    margin: 30px auto 10px;
    vertical-align: top;
    min-width: calc(1510px / 3 - 20px);
}
.column:last-child{
    width: 99%;
}
.column:last-child .column-text-offer,
.column-contact-link{
    display: inline-block;
    vertical-align: middle;
}

.column:last-child .column-text-offer p{
    font-size: 13px;
    padding: 12px 0;
}
.column > hr{
    border: none;
    border-bottom: 1px solid lightgray;
}
.column ul > li{
    padding: 12px 0;
}
.column ul > li:nth-of-type(6){
    padding-bottom: 80px;
}
.column:nth-of-type(1) ul > li:nth-of-type(5){
    padding-bottom: 126px;
}
.row-columns .column:nth-child(2){
    margin: 30px 20px 10px;
}
.row-columns > .column h5 > span{
    padding-right: 10px;
}
.row-columns > .column > h5{
    text-align: center;
}
.column-text-offer,.column-text-details{
    padding: 0 20px;
}
.column-text-offer > h4{
    font-size: 30px;
    padding: 45px 0 12px;
}
.column-text-offer > .offer-price{
    font-weight: 700;
}
.offer-client{
    color: grey;
    font-weight: 400;
    padding: 10px 0 35px;
}
.column-text-details ul{
    padding: 12px 0;
}

.column-text-details ul > li{
    list-style-type: none;
}
.fa-check{
    color: rgb(21, 73, 214);
}
.column nav{
    text-align: center;
    margin: 0 auto;
}
.column nav > li{
    margin: 40px 0;
    width: 100%;  
}
.column nav > li a{
    padding: 10px 35px;
    margin: 10px 0;
    background-color:rgb(21, 73, 214);
    color: white;
    border: none;
}
.column-text-details a{
    color:rgb(21, 73, 214);
}
.column-text-details p{
    padding-bottom: 20px;
}
.column-text-details hr{
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid lightgray;
    width: 25%;
}
.column-text-details ul > span{
    font-size: 18px;
    font-weight: 700;
}

.column-text-details ul:nth-of-type(4) i{
    color:rgb(21, 73, 214);
}
.column-text-details ul > li > i > span{
    color: black;
    font-weight: 400;
    padding-left: 10px;
} 
.column-text-details ul:nth-of-type(4) > ul{
    padding: 10px 0; 
}
.column-text-details ul:nth-of-type(4) > ul:last-child{
    margin-bottom: 100px;
}
.column:first-child .column-text-details ul:nth-of-type(4) > ul:last-child{
    margin-bottom: 142px;
}
.column-contact-link li a{
    background-color:rgb(21, 73, 214);
    border: none;
    color: white;
    padding: 10px 40px;
}
.column-contact-link li{
    padding: 10px 40px;
}

/*------- section explication --------*/

.row-p{
    width: 100%;
}
.image-exp > img{
    width: 100%;
}
.image-exp{
    float: left;
    width: 60%;
}

.text-par{
    float: left;
    width: 40%;
    padding: 30px 50px 0;
    font-size: 13px;
    font-weight: 600;
}
.text-par > h5{
    padding: 20px 0;
    font-size: 25px;
}
.text-par a{
    background-color:white;
    color:black;
    padding: 8px 25px;
    border: 1px solid black;
}
.text-par li{
    padding: 30px 0;
}
.row-expl{
    width: 100%;
}
.row-c{
    width: calc(100% / 3 - 40px);
    display: inline-block;
}
.row-c:nth-of-type(2){
    margin: 0 40px;
}
.row-c .cont-image img{
    width: 100%;
}
.cont-text h3{
    font-size: 28px;
    padding-bottom: 15px;
}
.cont-text p{
    font-weight: 600;
    font-size: 14px;
}
.row-2-e{
    padding-top: 50px;
}
.cont-1:nth-of-type(1) .cont-text span{
    text-decoration: underline;
}
#big-expl{
    padding: 150px 200px 0 ;
}
#big-expl > h2{
    font-size: 40px;
    padding: 50px 0;
}

/*------------ section team -----------  */

#title-expl{
    padding: 200px 200px 0;
}
#title-expl h2{
    font-size: 45px;
    padding-right: 55%;
    padding-bottom: 40px;
}
#title-expl a{
    color: rgb(21, 73, 214);
    font-weight: 700;
}
.big-container{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
}

/*--- first container and third ---*/

.b-container{
    width: 30%;
    height: 100%;
    float: left;
}

.s-con{
    width: calc(100% / 2);
    height: calc(100% / 2);
    float: left;
    text-align: center;
    position: relative;
}
.s-con > img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50% );
    filter: invert(1);
}

.b-1{
    background-color: lightgreen;
    border: 15px solid rgb(190, 235, 190);
}
.b-2{
    background-color: rgb(78, 11, 78);
}
.b-3{
    background-color: rgb(38, 172, 255);
}
.b-4{
    background-color: rgb(255, 30, 0);
}
.b-5{
    background-color: rgb(175, 0, 0);
}
.b-6{
    background-color: rgb(168, 193, 194);
}
.b-7{
    background-color: rgb(0, 0, 99);
}
.b-8{
    background-color: gold;
}

/* second container */

.b-container:nth-of-type(2){
    width: 40%;
    height: 100%;
    float: left;
    background-color: rgb(236, 233, 233);
}
.b-container:nth-of-type(2) hr{
    width: 15%;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-left: 60px;
}
.t-co{
    padding: 40px 60px;
    font-weight: 600;
}
.author-t{
    padding: 20px 60px;
    font-weight: 600;
}
#center-con-logo{
    width: 40%;
    height: 25%;
    position: relative;
    margin-top: 30px;
}
#center-con-logo img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* four conatiner */

.f-container{
    background-color: rgb(168, 193, 194);
    width: 100%;
    height: 35vh;
    position: relative;
}
.f-cont-main{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.text-f-cont{
    font-size: 40px;
    font-weight: 800;
    color: rgb(78, 11, 78);
    display: inline-block;
    width: 40%;
    margin: auto;
    vertical-align: top;
    text-align: left;
}
.link-f-cont{
    display: inline-block;
    margin: 20px auto;
    padding: 10px 80px;
    text-align: left;
}
.link-f-cont a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 80px;
    font-weight: 600;
}

/* questions section before footer */

.questions-section{
    padding: 40px 200px;
}
.questions-section h2{
    font-size: 35px;
    padding: 40px 0;
}
.questions-section hr{
    border: none;
    border-bottom: 1px solid lightgray;
}
.questions-section hr:last-child{
    margin-bottom: 60px;
}
.question{
    float: left;
    padding: 30px 0;
    font-weight: 700;
}
.down-arr{
    float: right;
    padding: 30px;
}

