*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*------ header ------*/

.nav-h,#logo{
    display: inline-block;
    padding: 25px 20px;
    vertical-align: middle;
}
#button-init{
    display: inline-block;
    padding: 20px 20px;
    vertical-align: middle;
}
/* header left */

header{
    width: 100%;
}
nav li{
    display: inline-block;
    padding: 0 10px;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-h nav{
    width: 100%;
    list-style-type: none;
}
.cont-header{
    width: 35%;
}
header .cont-header:nth-of-type(1){
    float: left;
}

/* header right */
.nav-right,#button-init{
    float: right;
}
header .cont-header:nth-of-type(2){
    float: right;
}
#button-init button{
    border: none;
    background-color:rgb(21, 73, 214);
    padding: 7px 18px;
    color: white;
}
